---
const { post } = Astro.props;
const { image_cover, title, description, pubDate, author } = post.frontmatter;
const date = new Date(pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<a
  href={post.url}
  class="flex px-8 w-full mx-8 h-64 bg-peach-200 rounded-3xl
  shadow overflow-hidden transition-transform hover:scale-102 hover:ring-2 hover:ring-offset-2 hover:ring-peach-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-peach-500"
>
  <!-- Left section: the image -->
  <div class="w-1/3 h-full py-4">
    {
      image_cover ? (
        <img
          src={image_cover}
          alt={title}
          class="w-full h-full object-cover rounded-3xl"
        />
      ) : (
        <div class="w-full h-full bg-peach-500 flex items-center justify-center">
          <span class="text-2xl">Default</span>
        </div>
      )
    }
  </div>
  <!-- Right section: blog details -->
  <div class="w-2/3 p-4 flex flex-col h-full">
    <h2 class="sm:text-lg md:text-2xl text-center font-bold text-gray-900">
      {title}
    </h2>
    <p class="sm:text-sm md:text-lg text-gray-700 text-center font-light mt-2">
      {description}
    </p>
    <div class="flex flex-col md:flex-row justify-between mt-auto">
      <p class="text-base md:mx-8 text-peach-700 mt-auto text-center font-bold">
        {author}
      </p>
      <p class="text-base md:mx-8 text-peach-700 mt-auto text-center italic">
        {date}
      </p>
    </div>
  </div>
</a>
